.content{
    height: 300px;
    width: 250px;
    border: 3px solid burlywood;
    border-radius: 2px;
    background-color: bisque;
    
}
.computer{
    height: 300px;
    width: 250px;
    border: 3px solid rgb(47, 49, 195);
    border-radius: 2px;
    background-color: rgb(154, 154, 228);
}
.body{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    background-color: gainsboro;

}